* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
}

#loguri {
    transform: translateX(-6.5rem);
}

.navi ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    cursor: pointer;
    list-style: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.navi ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

#sia {
    transform: translateX(5.5rem);
}

#gayidva {
    transform: translateX(7.5rem);
}

#bot {
    border-bottom: 2px solid #29b24e;
}

#gayidva {
    padding: 13px 26px;
    border-radius: 12px;
    background: #29b24e;
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.mtimg {
    margin-left: 70px;

}

.container {
    width: 100%;
    margin-right: 100px;
    border-radius: 24px;
    box-shadow: 0px 4px 18px 0px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 120px;
    width: 100%;
    margin-top: 15px;

}

.info>p {
    margin-top: 30px;
}

#vipuri {
    margin-top: 25px;
    height: 3%;
    /* width: 11%; */
    border-radius: 2rem;
    background: #29b24e;
    color: white;
    padding: 8px 19px;
}

.desc {
    margin-left: 60px;
}

.desc h2 {
    margin-top: 24px;
}

.desc>p {
    margin-top: 12px;
}

#Lorem {
    padding-top: 30px;
    opacity: 0.6000000238418579;
    text-align: left;
}

hr {
    margin-top: 20px;
    width: 100%;
    opacity: 0.2;
}

.apartment {
    width: 100%;
    display: flex;
    gap: 24px;
    margin-left: 60px;
}

.apartment>p {
    margin-top: 20px;
}

.centri {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.centri>p {
    color: black;
}

.pirveli>p {
    margin-top: 4px;
}

.meore>p {
    margin-top: 4px;
}

.mesame>p {
    margin-top: 4px;
}

.space {
    margin-top: 16px;
}

.opacity {
    opacity: 0.6000000238418579;
}

.tag {
    color: #29b24e;
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 100px;
    margin-top: 24px;
}

.adgili {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    margin-top: 24px;
    margin-left: 60px;
}

.adgili a {
    text-decoration: none;
}

.klasika {
    display: flex;
    flex-direction: row;
    /* width: 40%; */
}

.msg {
    border: 1px solid #29B24E;
    border-radius: 15px;
    padding: 13px 26px;
    color: #29B24E;
    margin-left: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.msg a {
    color: #29b24e;
}

.zari a {
    color: white;
}

.zari {
    border: 1px solid #29B24E;
    border-radius: 15px;
    padding: 13px 26px;
    background-color: #29B24E;
    margin-right: 40px;
    margin-bottom: 20px;
}

#igive {
    margin-left: 100px;
}

.seqcia-1 {
    display: flex;
}

.seqcia-1 a {
    text-decoration: none;
    color: black;
}

.ads {
    border: 1px solid #f8f8f8;
    border-radius: 24px;
    padding: 1rem 1rem;
    box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.3);
}

.ads p {
    display: flex;
    color: #000;
    margin-top: 0.25rem;
}


.siebi {
    margin-top: 15px;
    margin-left: 65px;
    display: flex;
    list-style: none;
    gap: 40px;
    flex-wrap: wrap;
}

.fasi {
    color: #29b24e;
    font-size: larger;
    padding-left: 15rem;
    font-size: 24px;
}

#spanfasi {
    position: relative;
    bottom: 0.4rem;
}

/* .op {
    opacity: 0.5;
    font-size: 14px;
    padding-right: 15.5rem;
    position: relative;
    bottom: 0.25rem;
    margin-bottom: 1.72rem;
}
 */
.xazi {
    border: 1px solid #cfead6;
    border-radius: 2px;
    margin-top: 1.25rem;
}

.qvtext {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 0.25rem;
}

.ads .vipuri {
    position: absolute;
    border: 1px solid #29b24e;
    border-radius: 2rem;
    background: #29b24e;
    padding: 4px 10px;
}

.vipuri {
    transform: translateY(-520%);
    margin-left: 10px;
}

.vipuri>p {
    color: white;
}

.wre {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    filter: drop-shadow(-2px 4px 20px rgba(109, 109, 109, 0.25));
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    margin-left: 19.3rem;
}

.wre img {
    position: relative;
}

footer {
    background-color: #29b24e;
    width: 100%;
    height: auto;
    margin-top: 120px;
    padding: 35px 35px;
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.1);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list-container {
    display: flex;
    justify-content: space-around;
    gap: 130px;
}

.list-container>p {
    color: white;
}

.list1,
.list2 {
    display: flex;
    list-style: none;
    gap: 48px;
}

.list1 li,
.list2 li {
    display: inline-block;
    margin-right: 10px;
}

.khazi {
    margin-top: 43px;
    color: white;
}

#xazuri {
    color: white;
}

.khazi>p {
    display: flex;
    margin-top: 32px;
    justify-content: center;
    color: white;
}